.gallery{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.col{
    color: rgb(26, 26, 86);
}
p{
    margin-bottom: -5px;
}
#campus{
    display: flex;
    justify-content: center;    
    margin-top: 40px;
    margin-bottom: 100px;
}
.campus{
    padding: 20px;
    width: 18%;
    border-radius: 30px;
}
.see-btn{
  padding: 12px 25px;
  margin: -50px 0px 40px 0px;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 25px;
  background-color: blue;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.see-btn:hover{
    background-color: rgb(31, 31, 155);
}
#Campus{
    background-color: rgba(60, 60, 169, 0.5);
    min-height: 100vh;
}